<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="BusinessDatabaseConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Southwest\Fall 2019\dotnet\Projects\aspDotnet-northwindmanagementsuite\Northwind Management Suite\BusinessDatabase.mdf&quot;;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>