/* Styling for Default.aspx - Probably shouldn't be used for other sites */


.pageContent {
/*    background-color: gray; */
    height: auto;
    width: 89%;
    margin: auto;
    margin-top: 2%;
    position: relative;
/*    border: 2px solid black; */
}

.bigLogoOuterContainer {
    padding: 10px 15% 0 15%;
    align-content: center;
    margin: auto;
}

.bigLogoInnerContainer {
    margin: auto;
    overflow: hidden;
    align-content: center;
}

.defaultHeader {
    text-align: center;
    font-size: 4em;
    font-family: 'Trebuchet MS';
}

.headerZoneBorder {
    height: 35px;
}


.aboutContainer {
/*  border: dotted 2px red; */
    margin-top: 15px;
    width: 33%;
    overflow: hidden;
    padding: 15px 15px 5px 15px;

}

.aboutHeaderContainer {
/*  border: dotted 2px blue; */
    font-size: 2.2em;
    text-align: center;
    padding-right: 45%;
}

.aboutParagraphContainer {
/*    border: dotted 2px cyan; */
    font-size: 1.43em;
    padding: 15px;
}